@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root{
    --primary-color: #a78bfa;
    --dark-gray: rgb(218, 225, 238);
    --light-gray:#e2e8f0;
}
body{
    font-family: 'Roboto Mono', 
    monospace;
    margin: 0px;
    background-color: rgb(194, 194, 204);
}

hr{
    margin: 2rem 0rem;
}

/** Containers **/
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}

 .container-center-blog{
    border: black;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 600px;
    margin: auto;
    border
}

p{
    text-align: center;
}
/** spaces **/


/** links**/
.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.primary-link {
    display: inline-block;
    background-color:  antiquewhite;
    border-radius: 1rem;
    box-sizing:border-box;
    border: 1px solid black;
    color:black;
    
}
.primary-link:hover{
    cursor: pointer;
    color: cadetblue;
}

.secondary-link{
    display: inline-block;
    background-color: antiquewhite;
    color: black;
    border-radius: 00.5rem;
    border: 1px solid black;
}

/**Lists **/

.non-bullets{
    list-style: none;
    margin: 0%;
}

.list-item-inline{
  display: inline;
  padding: 0rem 0.5rem;
}

/**navigation **/

.navigation{
    background-color: var(--primary-color);
    color: black;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.navigation-blog{
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem;
}
.navigation .nav-Brand{
    font-size: 1 rem;
    font-weight: bold;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link{
    color: white;
}

.navigation .link-active{
    font-weight: bold; 
}

/** header **/

.hero{
    padding: 2rem;
    text-align: center;
}

.hero .hero-img{
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    padding: 1rem;
    color: black;
}

.hero .hero-heading 
.heading-inverted{
    color: black;
}

/** Section **/

.section{
    justify-content: center;
    padding: 1rem 1rem;
}

.section h3 {
 text-align: center;
}

.off{
    justify-content: center;
    background-color:white;
    margin-inline-start: -40px;
}

/** Footer**/

.footer{
    
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer .link{
    color: white;
    text-decoration: none;
}
